<div class="container">
  <h2>Digital Forensic Login</h2>
  <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" [(ngModel)]="loginData.email" required class="form-control">
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" [(ngModel)]="loginData.password" required class="form-control">
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Login</button>
    </div>
    <p>Don't have an account? <a routerLink="/auth/register">Please register</a>.</p>

  </form>
</div>
