/* You can add global styles to this file, and also import other style files */


/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@font-face {
    font-family: "Gilroy-Regular";
    src: local("Gilroy-Regular"), url(./assets/fonts/Gilroy-Regular.ttf) format("truetype");
  }
  @font-face {
    font-family: "Gilroy-Black";
    src: local("Gilroy-Black"), url(./assets/fonts/Gilroy-Black.ttf) format("truetype");
  }
  @font-face {
    font-family: "Gilroy-Bold";
    src: local("Gilroy-Bold"), url(./assets/fonts/Gilroy-Bold.ttf) format("truetype");
  }
  @font-face {
    font-family: "Gilroy-SemiBold";
    src: local("Gilroy-SemiBold"), url(./assets/fonts/Gilroy-Semibold.ttf) format("truetype");
  }
  @font-face {
    font-family: "Gilroy-ExtraBold";
    src: local("Gilroy-ExtraBold"), url(./assets/fonts/Gilroy-Extrabold.ttf) format("truetype");
  }
  @font-face {
    font-family: "Gilroy-Medium";
    src: local("Gilroy-Medium"), url(./assets/fonts/Gilroy-Medium.ttf) format("truetype");
  }